body {
    margin: 0;
    height: 100vh;
    background: #111;
    font-family: "Trebuchet MS", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.xp-window {

    width: 90%;
    max-width: 500px;

    background: #dcd6ff;

    border: 3px solid #fff;

    border-radius: 8px;

    box-shadow: 0 0 20px #000;

}


.title-bar {

    background: linear-gradient(#6b5cff, #3b2bbd);

    color: white;

    padding: 8px;

    font-weight: bold;

}


.content {

    padding: 30px;

    text-align: center;

    color: #222;

}


h1 {

    color: #4b0082;

}


button {

    margin-top: 20px;

    padding: 12px 25px;

    border: 2px solid #4b0082;

    background: #fff;

    color: #4b0082;

    font-weight: bold;

    cursor: pointer;

    border-radius: 5px;

}


button:hover {

    background: #4b0082;

    color: white;

}
